* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    color: #333333;
}

*::selection {
    background-color: #00ACEE;
    color: white;
}

button:focus {
    outline:0;
}